* 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Andalus' , sans-serif;
	transition: .6s;
}

.content
{
	width: 90%;
	margin: auto;
}

body
{
	background:#010103;
}
/*
===============
NAVBAR SECTION
===============
*/
.nav
{
	background: #010103;
	width: 100%;
	height: auto;
	position:fixed;
	z-index: 1000;
	border-bottom: none;
}
 
.nav .logo
{
     width: 65px;
}

.nav .containt
{
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	padding: 25px;
	
}

.nav .containt label i 
{
	font-size:30px;
	color: #fff;
	cursor: pointer;
	padding-right: 40px;
}

.nav .containt label i:hover 
{
	color: #FA8F3F;
}

.nav .containt label
{
	display: block;
	float: left;
}

.nav .containt #nava,#cart,#search
{
	display: none;
}

.nav .containt #nava:checked ~ .nav-list 
{
	display: block;
	animation: active .2s  ease-in-out 1;
}

@keyframes active
		{
			0%{
				right:-100%;
			}
			10%{
				right:-90%;
			}
			20%{
				right:-80%;
			}
			30%{
				right:-70%;
			}
			40%{
				right:-60%;
			}
			50%{
				right:-50%;
			}
			60%{
				right:-40%;
			}
			70%{
				right:-30%;
			}
			80%
			{
				right: -20;
			}
			90%
			{
				right: -10%;
			}
			100%
			{
				right: 0%;
			}
		}
		

.nav .containt .nav-list 
{
	list-style: none;
	padding-top: 15px;
	display: block;
	float:left;
}

.nav .containt .nav-list .nav-items
{
	display: inline-block;
	transition: .5s;
	margin-left: 30px;
	height: 30px;
}

.nav .containt .nav-list .nav-items a 
{
	text-decoration: none;
	color: #ddd;
	font-size: 18px;
	font-weight:bold;
}
	
	.nav .containt .nav-list .nav-items a:hover
{
		transform: scale(1.1);
		color:#FA8F3F;
		border-bottom: 2px solid #FA8F3F;
}

.nav .containt .nav-cart 
{
	padding-top: 15px;
	display: none;
	float:right;
	background: #fff;
	position:absolute;
	right: 0%;
	top: 100%;
}

.nav .containt .nav-cart .cart-items
{
	padding: 30px;
}

.nav .containt .nav-cart .cart-items i
{
	padding-left: 50px;
	color:#010103;
}

.nav .containt .nav-cart .cart-items i:hover
{
	color:#FA8F3F;
}

.nav .containt .nav-cart img 
{
	 width: 90px;
}

.nav .containt .nav-cart .cart-items-des
{
	 float:right;
	 padding-left: 20px;
}

.nav .containt .nav-cart .cart-items h3
{
	color: #010103;
}

.nav .containt .nav-cart .cart-items p
{
	color: #FA8F3F;
}

.nav .containt .nav-cart .cart-items i
{
	padding-left: 30px;
	cursor:pointer; 
	float: right;
	font-size: 20px;
}

.nav .containt .nav-cart .checkout
{
	width: 70%;
	margin-left:15%;
	margin-top: 10%;
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding: 5px 0;
	font-size: 18px;
	margin-bottom: 20%;
}

.nav .containt .nav-cart .checkout:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}

.nav .containt #cart:checked ~ .nav-cart 
{
	display: block;
	animation: active .2s  ease-in-out 1;
}

.nav .containt .search-form 
{
	position: absolute;
	top:110%;
	right: 13%;
	display:none;
}

.nav .containt .search-form #search-form-item
{
	padding: .8rem;
	font-size: 1rem;
	padding-right: 10rem;
	position:relative;
	outline:none;
}

.nav .containt .search-form #l-search-form-item
{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 1.5rem;
}

.nav .containt .search-form #l-search-form-item:hover
{
	color:#FA8F3F;
	cursor:pointer;
}

.nav .containt #search:checked ~ .search-form 
{
	display: block;
	animation: active-q .2s  ease-in-out 1;
}

@keyframes active-q
		{
			0%{
				top:0%;
			}
			10%{
				top:20%;
			}
			20%{
				top:30%;
			}
			30%{
				top:40%;
			}
			40%{
				top:50%;
			}
			50%{
				top:60%;
			}
			60%{
				top:70%;
			}
			70%{
				top:80%;
			}
			80%
			{
				top: 90;
			}
			90%
			{
				top: 100%;
			}
			100%
			{
				top: 110%;
			}
		}

@media (max-width:1048px)
{
	.nav .containt  i 
	{
		padding-right: 0px;
	}
}

@media (min-width:822px)
{
	.nav .containt #l-nava
	{
		display: none ;
	}
	
}
@media (max-width:821px)
{
		.nav
		{
			background: #010103;
			position: relative;
		}
			
		.nav .containt
		{
			width: 100%;
			display: inline-block;
			align-items: none;
			justify-content: none;
			padding:15px;
			overflow: hidden;
			margin-top:15px;
		}
		.nav .containt .icons
		{
			 float:right;
		}
		
		.nav .logo
		{
			 float:left;
			 width:65px;
			 padding-left: 5px;
		}

	.nav .containt .nav-list 
		{
			width:30%;
			margin-left: 20%;
			display:none;
			height: 100vh;
			position: absolute;
			right: 0%;
			top: 85%;
			height: 100%;
			z-index: 1000;
		}
		.nav .containt .nav-list .nav-items
		{
			display: block;
			text-align: center;
			transition: .4s;
			padding: 20px;
			padding-bottom:72.2px;
			border: 1px solid #ddd;
			border-top:none;
			border-bottom: none;
			background:#fff;
		} 
		.nav .containt .nav-list .nav-items:first-child
		{
			border-top: 1px solid #ddd;
		
		}
		.nav .containt .nav-list .nav-items:last-child
		{
			border-bottom: 1px solid #ddd;
		
		}
		
		.nav .containt i:hover
		{
			color: #FA8F3F;
		}
		.nav .containt i 
		{
			font-size:26px;
			font-weight: bold;
			color: #ddd;
			float:right;
			padding-right: 15px;
			margin-top:2%;
		}
		
		.nav .containt .nav-list .nav-items a 
		{
			display: block;
			text-align: left;
			color: #010103;
		}
	.nav .containt .nav-list .nav-items a:hover
	{
			transform: none;
	}

}
/*
=============
HOME SECTION
============
*/
.home
{
	background-image:url("../images/home/home-img.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.home .introduction
{
	text-align: left;
	color: #fff;
	padding-top:20%;
	height: auto;
	width:55%;
}

.home .introduction .intro-title
{
	padding-bottom: 15px;
	font-size: 50px;
}

.home .introduction .intro-desc
{
	padding-bottom: 20px;
	font-size: 20px;
	color:#FFF;
	width:90%
}
	
.home .introduction .Get
{
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding: 7px 10px;
	font-size: 18px;
	margin-top: 15px;
}

.home .introduction .Get:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}

@media (max-width:991px)
{
		.home .introduction
		{
			text-align: center;
			width:100%;
		}
		
		.home .introduction .intro-title
		{
			font-size: 50px;
			margin-bottom: 5%;
		}
		
		.home .introduction .intro-desc
		{
			margin-bottom: 5%;
		}
}

/* 
==============
About Section
==============
*/
.about
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
}

.about .about-info 
{
	padding-top: 50px;
	width: 90%;
	margin:auto;
}

.about .about-info .info-title
{
	font-weight: bold;
	font-size: 50px;
	text-align:center;
	padding-bottom: 20px;
	color:#fff;
}

.about .about-info .info-title span
{
	color: #FA8F3F;
}

.about .about-info .about-con 
{
	display:flex;
	justify-content:space-between;
}

.about .about-info .about-con .about-con-img
{
	width: 100%;
	height: 600px;
}
.about .about-info .about-con .about-con-des
{
	padding:20px;
	padding-top:9%;
}

.about .about-info .about-con .about-con-des .about-con-des-title
{
	padding-bottom:20px;
	font-size: 30px;
	color:#FA8F3F;
}
.about .about-info .about-con .about-con-des .about-con-des-pra
{
	padding-bottom:10px;
	line-height:2;
	font-size: 1.15rem;
}

.about .about-info .about-con .about-con-des .learn
{
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding: 7px 13px;
	font-size: 18px;
	margin-top: 15px;
}

.about .about-info .about-con .about-con-des .learn:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}

@media (max-width:991px)
{
	.about
	{
		height:auto;
	}
	
	.about .about-info .about-con 
	{
		display:inline-block;
	}
	.about .about-info .about-con img
	{
		width:100%;
	}
}
/* 
=============
 Menu Section
=============
*/
.menu
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
	padding-top:2%;
}
.menu .ho-con .con-title
{
	font-weight: bold;
	font-size: 50px;
	text-align:center;
	color:#fff;
}
.menu .ho-con .con-title span
{
	color: #FA8F3F;
}
.menu .content .ho-con .menu-con .con-ho
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding-bottom:20px;
	text-align:center;
}

.menu .content .ho-con .menu-con .con-ho .ho-item
{
	margin-top: 20px;
	height: auto;
	width:25%;
	border: 1px solid #888; 
	padding: 25px 0;
	line-height: 2;	
}
.menu .content .ho-con .menu-con .con-ho .ho-item:hover
{
	background:#fff;
	color:#000;
}
.menu .content .ho-con .menu-con .con-ho .ho-item .item-img
{
	width: 70px;
	height: 70px;
	border-radius:50%;
}
.menu .content .ho-con .menu-con .con-ho .ho-item .item-title
{
	font-size:1.6rem;
}
.menu .content .ho-con .menu-con .con-ho .ho-item .item-desc
{
	font-size:1.3rem;
	font-weight:bold;
}
.menu .content .ho-con .menu-con .con-ho .ho-item .item-desc span
{
	font-size:1rem;
	text-decoration:line-through;
}
.menu .content .ho-con .menu-con .con-ho .ho-item .Add
{
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding: 5px 13px;
	font-size: 18px;
	margin-top: 15px;
}

.menu .content .ho-con .menu-con .con-ho .ho-item .Add:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}
@media (max-width:991px)
{
	.menu .content .ho-con .menu-con .con-ho
	{
		display:inline-block;
		width:50%;
		float:left;
		padding-left:1%;
	}
	.menu .content .ho-con .menu-con .con-ho .ho-item
	{
		width:100%;
	}
}
/* 
================
 Product Section
================
*/
.Products
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
	padding-top:2%;
}
.Products .ho-con .con-title
{
	font-weight: bold;
	font-size: 50px;
	text-align:center;
	color:#fff;
}
.Products .ho-con .con-title span
{
	color: #FA8F3F;
}
.Products .content .ho-con .Products-con .con-ho
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding-bottom:20px;
	text-align:center;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item
{
	margin-top: 20px;
	height: auto;
	width:32%;
	border: 1px solid #888; 
	padding: 25px 0;
	line-height: 2;	
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .Products-ho-item-img
{
	 width: 250px;
	 height: 300px;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .Products-ho-item-icons
{
	font-size:1.6rem;
	margin: 2%;
	padding-bottom:5%;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .Products-ho-item-icons i
{
	 padding: 3%;
	 border: 1px solid #888;
	 margin:2%;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .Products-ho-item-icons i:hover
{
	 background:#FA8F3F;
	 cursor:pointer;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .Products-ho-item-stars
{
	color:#FA8F3F;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .item-desc
{
	font-size:1.3rem;
	font-weight:bold;
}
.Products .content .ho-con .Products-con .con-ho .Products-ho-item .item-desc  span
{
	font-size:1rem;
	text-decoration:line-through;
}
@media (max-width:991px)
{
	.Products .content .ho-con .Products-con .con-ho
	{
		display:inline-block;
		width:60%;
		margin-left:18%;
	}
	.Products .content .ho-con .Products-con .con-ho .Products-ho-item
	{
		width:100%;
	}
}
/* 
===============
 Review Section
===============
*/
.Review
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
	padding-top:2%;
}
.Review .ho-con .con-title
{
	font-weight: bold;
	font-size: 50px;
	text-align:center;
	color:#fff;
}
.Review .ho-con .con-title span
{
	color: #FA8F3F;
}
.Review .content .ho-con .Review-con .con-ho
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding-bottom:20px;
	text-align:center;
}
.Review .content .ho-con .Review-con .con-ho .Review-ho-item
{
	margin-top: 20px;
	height: auto;
	width:32%;
	border: 1px solid #888; 
	padding: 25px 0;
	line-height: 2;	
	text-align:center;
}
.Review .content .ho-con .Review-con .con-ho .Review-ho-item .Review-ho-item-img
{
	 width: 100px;
	 height: 100px;
}
.Review .content .ho-con .Review-con .con-ho .Review-ho-item .item-desc
{
	color:#888;
	font-size:1rem;
	line-height:2;
	padding: 5%;
}
.Review .content .ho-con .Review-con .con-ho .Review-ho-item .Review-ho-item-pic
{
	width: 60px;
	height: 60px;
	border-radius:50%;
}
.Review .content .ho-con .Review-con .con-ho .Review-ho-item .Review-ho-item-stars
{
	color:#FA8F3F;
}
 
@media (max-width:991px)
{
	.Review .content .ho-con .Review-con .con-ho
	{
		display:inline-block;
		width:60%;
		margin-left:18%;
	}
	.Review .content .ho-con .Review-con .con-ho .Review-ho-item
	{
		width:100%;
	}
}
/* 
===================
Contact Us Section
==================
*/
.Contact
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
	padding: 50px;
}

.Contact .Contact-info 
{
	padding-top: 50px;
	margin:auto;
}

.Contact .Contact-info .info-title
{
	font-weight: bold;
	font-size: 50px;
	text-align:center;
	padding-bottom: 20px;
	color:#fff;
}

.Contact .Contact-info .info-title span
{
	color: #FA8F3F;
}

.Contact .Contact-info .Contact-con 
{
	display:flex;
	justify-content:space-between;
}
.Contact .Contact-info .Contact-con .map
{
	width:50%;
	height:500px;
	border:none;
}
.Contact .Contact-info .Contact-con .Contact-con-des
{
	width:50%;
	height:500px;
	padding-left:2%;
	
}
 
.Contact .Contact-info .Contact-con .Contact-con-des .Contact-con-des-title
{
	padding-bottom:20px;
	font-size: 30px;
	color:#FA8F3F;
	text-align:center;
	padding:10% 0 5% 0;
}
.Contact .Contact-info .Contact-con .Contact-con-des .Contact-con-des-name input, .Contact-con-des-email input, .Contact-con-des-phone input
{
	  padding-left: 2rem;
	  width: 100%;
	  height: 3rem;
	  background: transparent;
	  border: 1px solid #888;
	  padding: 4%;
	  padding-left: 8%;
	  font-size: 1rem;
	  outline: none;
	  color:#fff;
}
.Contact .Contact-info .Contact-con .Contact-con-des .Contact-con-des-name, .Contact-con-des-email , .Contact-con-des-phone
{
	 width:100%;
	 height:8%;
	 margin-bottom:5%;
	 text-align:center;
	 position:relative;
	 
}
.Contact .Contact-info .Contact-con .Contact-con-des .Contact-con-des-name span , .Contact-con-des-email span , .Contact-con-des-phone span
{
	 position:absolute;
	 left: 3%;
	 top:48%;
	 color:#fff;
}

.Contact .Contact-info .Contact-con .Contact-con-des .Contact-butt
{
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding:7px 20px;
	font-size: 18px;
	margin: 20px;
	margin-left: 40%;
}

.Contact .Contact-info .Contact-con .Contact-con-des .Contact-butt:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}

@media (max-width:991px)
{
	.Contact
	{
		height:auto;
	}
	
	.Contact .Contact-info .Contact-con 
	{
		display:block;
	}
	.Contact .Contact-info .Contact-con .Contact-con-des
	{
		width:100%;
	}
		.Contact .Contact-info .Contact-con .map
		{
			width:100%;
		}
}

/* 
=============
 Blog Section
=============
*/
.Blog
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto;
	background: #010103;
	color:#fff;
	padding-top:2%;
	text-align: left;
}
.Blog .ho-con .con-title
{
	font-weight: bold;
	font-size: 50px;
	color:#fff;
	text-align: center;
}
.Blog .ho-con .con-title span
{
	color: #FA8F3F;
}
.Blog .content .ho-con .Blog-con .con-ho
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding-bottom:20px;
	 
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item:hover .item-img
{
	 transform: scale(1.2);
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item .item-img
{
	width:100%;
	height:300px;
	
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item .ho-item-img
{
	width:100%;
	height:300px;
	overflow:hidden;
	margin-bottom: 5%;
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item
{
	margin-top: 20px;
	height: auto;
	width:33%;
	border: 1px solid #888; 
	line-height: 2;	
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item .item-title
{
	font-size:1.6rem;
	padding-left:3%;
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item .item-desc
{
	padding-left:3%;
	color:#FA8F3F;
}
.Blog .content .ho-con .Blog-con .con-ho .ho-item .item-pra
{
	padding-left:3%;
	color:#ccc;
}
 
.Blog .content .ho-con .Blog-con .con-ho .ho-item .read
{
	color: #fff;
	background: #FA8F3F;
	border:none;
	padding: 5px 13px;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom:5%;
	margin-left:3%;
}

.Blog .content .ho-con .Blog-con .con-ho .ho-item .read:hover
{
	letter-spacing: .1rem;
	cursor:pointer;
}
@media (max-width:991px)
{
	.Blog .content .ho-con .Blog-con .con-ho
	{
		display:inline-block;
		width:100%;
		float:left;
		padding-left:1%;
	}
	.Blog .content .ho-con .Blog-con .con-ho .ho-item
	{
		width:80%;
		margin: auto;
		margin-bottom: 2%;
	}
}

/* 
================
 Footer Section
================
*/
.footer
{
	height:auto;
	width:100%;
	overflow: hidden;
	margin:auto ;
	background: #010103;
	color:#fff;
	padding:2% 0;
	text-align: left;
	text-align:center;
	line-height: 2;
}

.footer .social a
{
	color: #fff;
	font-size: 1.6rem;
	text-decoration: none;
	padding: 15px;
	border: 1px solid #888;
	border-radius:50%;
	margin: 20px;
}

.footer .social a:hover
{
	background:#FA8F3F;
}

.footer .footer-pra
{
	font-size: 1.2rem;
	padding-top:5px;
}

.footer .footer-pra span 
{
	color:#FA8F3F;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
 
html::-webkit-scrollbar-thumb{
    background: #FA8F3F;
    border-radius: 5rem;
}
